.pre-content{
background-color: black;
width: 100%;
max-width: 48.892vw;
height: 62.842vw;
}
.content{
    
font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
position: absolute;
top: 512px;

display: flex;
justify-content: space-around;
width: 100%;

}
.title{
    width: 100%;
/* width: 375px; */
}

.img-preview{
    position: relative;
}
.autolayout{

position: absolute;
width: 92%;
/* width: 343px; */
left: 16px;
top: 140px;

}

.year{
    position: absolute;
    width: 29px;
    height: 19px;
    left: 177px;
    font-size: 16px;
    line-height: 23px;
}

.day{
    position: absolute;
    width: 29px;
    height: 39px;
    left: 177px;
    font-size: 32px;
    line-height: 38px;
    }

.pre{
    position: absolute;
    width: 40px;
    height: 21px;
    left: 35px;
    top: 21px;
}

.prearrow{
position: absolute;
left: 21px;
top: 35px;
}

.next{
    position: absolute;
    width: 40px;
    height: 21px;
    left: 300px;
    top: 21px;
}
.nextarrow{
    position: absolute;
    left: 347px;
    top: 35px;
}

.list{
position: absolute;
height: 352px;
left: 16px;
top: 78px;

}

.item{
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;

}

.thumbnail-80{
width: 60px;
height: 59px;
flex: none;
order: 0;
flex-grow: 0;
}

.frame-292{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 2px;
width: 189px;
height: 59px;
flex: none;
order: 1;
flex-grow: 0;

}

.frame-date{
width: 47px;
height: 17px;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #C4C9D0;

}

.frame-text{
 
width: 160px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

.pt{
 
width: 78px;
height: 34px;
flex: none;
order: 2;
flex-grow: 0;
}

.pt-text{
 
height: 22px;
top: 9px;

font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #C29B3E;
}

.pt-minus{

height: 22px;
top: 9px;

font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #C4C9D0;

}

.present-content{

gap: 24px;
position: absolute;
width: 375px;
height: 307px;
top: 467px;

}

.present-title{

display: flex;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 16px;
}

.present-text{

font-family: 'Barlow Condensed';
font-style: normal;
text-transform: uppercase;
margin: 1px 0;
color: #C29B3E;
}
.present-subtitle{

height: 40px;

font-family: 'A-OTF Midashi Go MB31 Pro';
font-style: normal;
font-weight: 600;
font-size: 24px;
letter-spacing: -0.08em;
color: #FFFFFF;
margin: 2px 0;
}

.present-slide{

position: relative;
top: 67px;

}
.slide-list{

flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
left: 4.27%;
right: -30.93%;
top: 0%;
bottom: 0%;

}

.present-panel{

width: 153px;
height: 160px;
background: #D40019;
flex: none;
}

.panel-img{
position: relative;
width: 150px;
height: 100px;
top: 1px;
}

.panel-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 133px;
    height: 42px;
    left: 10px;
    top: 109px;
    position: absolute;
    font-size: 13px;
    line-height: 14px;
}

.img-text{

flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 10px;

position: absolute;
width: 152px;
height: 100px;
left: 0px;
top: 0px;

}

.img-frame{

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 104px;
height: 75px;
flex: none;
order: 0;
flex-grow: 0;
}

.img-frame > .group{

width: 22.85px;
height: 23.15px;
flex: none;
order: 0;
flex-grow: 0;
}

.frame-pt{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;
width: 85.85px;
height: 53px;
flex: none;
order: 1;
flex-grow: 0;
}

.frame-pt > .text{
width: 59px;
height: 53px;

font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 600;
font-size: 44.1043px;
line-height: 53px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

.present-btn{
width: 343px;
height: 56px;
margin: 94px auto 0;
border: 2px solid #FFFFFF;
}

.present-btn > .text{

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}

/* /contact section */
.contact{
gap: 24px;
position: absolute;
width: 375px;
height: 307px;
top: 852px;
}


.contact-title{
    
display: flex;
flex-direction: column;
align-items: flex-start;
position: absolute;
left: 16px;
}

.contact-button{
position: absolute;
width: 342.5px;
height: 56px;
top: 72px;
margin: 0 16px;
}

.contact-title > .present{
  
width: 53px;
height: 16px;

font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
color: #C29B3E;
flex: none;
order: 0;
flex-grow: 0;
}
.contact-title > .text{
font-family: 'A-OTF Midashi Go MB31 Pro';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 48px;
letter-spacing: -0.08em;
color: #FFFFFF;
}

.button-half-left{

position: absolute;
left: 0%;
right: 52.26%;
top: 0%;
bottom: 0%;
box-sizing: border-box;
border: 2px solid #FFFFFF;

}

.button-half-right{
position: absolute;
left: 51.97%;
right: 0.29%;
top: 0%;
bottom: 0%;
box-sizing: border-box;
border: 2px solid #FFFFFF;

}

.button-half-text{

position: absolute;
right: 11.93%;
top: 21.43%;
bottom: 21.43%;

font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.left{
    left: 39.62%;
}
.right{
    left: 11.62%;
}

/* /slide */
.carousel__item {
	color: white;
}

.carousel__slide {
   margin: 0 5px !important; 
}

.carousel__prev,
.carousel__next {
	box-sizing: content-box;
	border: 5px solid white;
}

/* menu section */
.menuframe{
    gap: 32px;
    height: 440px;
    margin-top: 36px;
    width: 375px;

}

.menu-home{

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 32px;
gap: 8px;

/* width: 104px;
height: 24px;
position: relative; */
}

.menu-home > .text{
color: #FFFFFF;
flex: none;
}

.menu-button{
    position: absolute;
    /* width: 342.5px; */
    height: 56px;
    margin: 40px 16px 0;
    width: 92%;
}