/* Footer */
.navi {
    background: linear-gradient(270deg, #DCC161 0%, #F6DE9C 25%, #DCBD77 50%, #F7DE9C 75.52%, #DDC161 100%);
}

.navi ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}
.navi ul li{
    width: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    padding: 12px 0 18px;
    border-left: 1px solid #C29B3E;
    color: #7C5D00;
}
.navi ul li img{
    padding-bottom: 9px;
    
}
.navi ul li:first-child{
    border-left: none;
}
