/* Footer */
.navi {
    background: linear-gradient(270deg, #DCC161 0%, #F6DE9C 25%, #DCBD77 50%, #F7DE9C 75.52%, #DDC161 100%);
}

.navi ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}
.navi ul li{
    max-width: 94px;
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    padding: 3.2vw 0 4.8vw;
    border-left: 1px solid #C29B3E;
  
}

.navi ul li a{
    color: #7C5D00;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navi ul li img{
    padding-bottom: 9px;
    
}
.navi ul li:first-child{
    border-left: none;
}
