@font-face {
    font-family: 'Hiragino Kaku Gothic Pro';
    src: url('@/assets/fonts/Hiragino Kaku Gothic Pro W3.otf') format('truetype');
}

body {

    font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro';
    margin: 0;
    background: #F7F7F7;
}

a {
    color: #000000;
}

.col-8 {
    width: 1000px;
    /* width: 80%;
    padding: 10px; */
}

.col-4 {
    float: left;
    width: 10%;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}

.header-container {

    background: #ffffff;
    height: 110px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    display: inline-block;
    width: 100%;
}

/* header section */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.logo {
    width: 118px;
    float: left;
    margin-top: 25px;
}

.logo img {
    width: 100%;
}

.header-text {
    float: left;
    margin-top: 43px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #00A051;
}

.inner-bar {
    width: 780px;
    background: #00A05C;
    margin-top: 31px;
    border-radius: 50px;
    /* padding: 17px 0; */
    float: right;
}

.inner-bar ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 30px;
}

.inner-bar ul li {
    width: 160px;
    padding-right: 24px;
}

.inner-bar ul li a {
    position: relative;
    padding: 17px 0 17px 5px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    justify-content: center;
}


.arrow {
    display: block;
    float: right;
    margin-top: .25em;
    border-color: transparent;
    border-top-color: #ffffff;
    border-style: solid;
    border-width: .5em .31em 0;
    width: 0;
    height: 0;
    position: relative;
    margin-left: 8px;
    line-height: 0;

}

.inner-bar ul li a figure {

    /* overflow: hidden; */
    padding-left: 5px;
}

.inner-bar ul li a:hover {
    padding: 17px 0 17px 0px;
    background-color: #ffffff;
    color: #00A05C;
    border-width: 10px 6px 0 6px;
    border-color: #00A05C transparent transparent transparent;
    justify-content: center;
}

.inner-bar ul li a:hover>.arrow {
    border-top-color: #00A05C;
}


.triangle {
    position: relative;
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
}

.triangle-bottom {
    border-width: 10px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
}


.inner-bar ul li:last-child {
    /* padding-right: 0; */
}



/* banner section */
.banner-container {
    background: #ffffff;
}

.banner {
    padding: 20px;
    /* padding-left: 40px; */
}

.banner img {
    /* position: relative; */
}

.banner p {
    position: absolute;
    /* width: 700px; */
    text-align: left;
    line-height: 50px;
    /* padding-top: 316px; */
    bottom: 32px;
    left: 44px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 0px 5px 5px rgb(0 0 0 / 10%);
}

/* content */
.content-container {
    background: #FFFDF8;
}

.content-inner {
    padding: 40px 0;
    /* padding-bottom: 78px; */
}

.title {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 22px;
}

.subtitle {
    display: inline-block;
    font-size: 36px;
    font-weight: 500;
    color: #00A05C;
    padding-bottom: 22px;
    border-bottom: 3px solid #00A05C;
}

.info {
    font-size: 16px;
    font-weight: 400;
    padding-top: 34px;
}

.content-title {
    padding-top: 20px;
}


.content-title p {
    /* line-height: 39px */
}


.content-banner{
    padding: 33px 0;
}
.content-slide {
    /* position: relative; */
    float: left;
    margin: 0;
    padding: 0;
    width: 340px;
    height: 349px;
    background: #ffffff;
    flex: none;
    border-radius: 0 0 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.content-slide {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.content-slide:hover {
    /* transform: scale(1.1); */
    color: #00A05C;
}

.content-slide:hover img {
    transform: scale(1.1);
}



.content-slide>figure {
    overflow: hidden;
}

.content-slide>figure img {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.content-text {
    display: flex;
    padding: 19px 30px 20px 10px;
    align-items: flex-start;
    flex-direction: column;
}

.content-button {
    border-radius: 40px;
    border: 1px solid #01A050;
    color: #01A050;
    background: #FFFDF8;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 14px;
    font-weight: 400;
    padding: 6px 20px 8px;
}

.content-text span {
    text-align: left;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 700;
}

/* research */


.research-title {
    padding: 29px 0 0 0;
    font-size: 20px;
    font-weight: 700;
}

/* accordian */

.research-container {
    max-width: 80%;
    margin: auto;
    min-height: initial;
    position: relative;
}

.research-container>div {
    padding-bottom: 30px;
}

.acc-blk{
    display: flex;
    align-items: center;
}

.research-container h3 {
    cursor: pointer;
    display: inline;
}

.research-container p {
    /* color: #535353; */
}


/* .research-inner{
    display: flex;
} */

.date {

    font-size: 12px;
    font-weight: 400;
    max-width: 145px;
    width: 12.5%;
    text-align: center;
    letter-spacing: .05em;
}

.description {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    line-height: 25px;
    max-width: 1000px;
    width: 84%;
    letter-spacing: .05em;
}

.more:after {
    content: url('../img/img-plus.png');
    font-size: 8px;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.less:after {
    content: url('../img/img-minus.png');
    font-size: 8px;
    position: absolute;
    right: 1%;
    top: 23%;
    transform: translateY(-50%);
    color: #333;
}

.research-container ul {
    
    list-style-type: none;
    padding-left: 0;
    border-radius: 5px;
    padding-top: 20px;

}

.research-container ul li {
    /* border: #eaeaea solid 1px; */
    border-bottom:1px solid #bebebe ;
    /* margin: 2px 0; */
    padding: 20px 20px 20px 20px;
    position: relative;
    background: #fff;
    /* display: flex; */
    align-items: center;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.research-container ul li:hover {
    background: #00A05C;
    color: #ffffff;
}

.show-detail {
    display: flex;
    flex-direction: column;
    padding: 30px 148px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}

/* end accordian */

/* related  */
.related-container {
    background: #FFFFFF;
}

.related-banner {
    display: flex;
    padding: 34px 0 0 80px;
    gap: 39px;
}

.related-site {
    width: 320px;
    height: 126px;
    background: #ffffff;
    flex: none;
}

.related-site img {
    /* padding-bottom: 10px; */
}

.related-site span:hover {
    color: #00A05C;
}

.related-text {
    padding-top: 10px;
    /* padding-bottom: 10px; */
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
}

.swap-on-hover {
    position: relative;
}

.swap-on-hover img {
    position: absolute;
    right: 0;
    overflow: hidden;
    max-width: 20px;
}

.swap-on-hover .swap-on-hover__front-image {
    z-index: 9999;
    transition: opacity .3s linear;
    cursor: pointer;
}

.swap-on-hover:hover>.swap-on-hover__front-image {
    opacity: 0;
}

/* footer  */

.footer-next {
    border-width: .45em 0 .45em .8em;
    border-top-color: transparent;
    border-left-color: #00A05C;
    margin-top: 2px;
}

.footer-container {
    background: #FFFFFF;
    /* margin-top: 10px; */
    border-top: 1px solid #A4A4A4;
}

.footer-inner {
    /* padding-left: 60px; */
    padding-bottom: 33px;
}

.footer-banner {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;

}

.footer-banner div {
    /* padding-right: 100px; */
}

.lion-2x img {
    width: 100%;
}

.footer-banner ul {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    width: 600px;
}

.footer-banner ul li {
    /* display: flex; */
    gap: 10px;
    font-size: 12px;
    position: relative;
    padding-left: 15px;
}
.footer-banner ul li::before{
    content: url('../img/svg-next.svg');
    position: absolute;
    width: 10px;
    height: 20px;
    left: 0;
}

.footer-banner ul li a{
    letter-spacing: 0.5px;
}

.footer-banner ul li a:hover {
    text-decoration: underline;
    color: #00A05C;
}

.footer-bar {
    text-align: center;
    color: #ffffff;
    background: #00A05C;
    line-height: 70px;
}

.footer-bar span {
    padding: 25px 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px
}

.footer-swap img{
    max-width: 54px;
}

/* carousel */
.carousel__item {
    color: #000000;
}

.carousel__slide {
    padding: 10px 0 0 25px !important;
}

.carousel__prev,
.carousel__next {
    background: #ffffff !important;
    box-sizing: content-box;
    border: 1px solid #00A05C !important;
}

.carousel__prev:hover,
.carousel__next:hover {
    background: #00A05C !important;
}

.banner .carousel__icon {
    width: 48px !important;
    height: 48px !important;
}

.banner .carousel__prev {
    width: 48px;
    height: 48px;
}

.banner .carousel__next {
    width: 48px;
    height: 48px;
}

.content-banner .carousel__viewport {
    overflow: inherit;
    padding-bottom: 30px;
}

.content-banner .carousel__track {
    /* transform: translateX(-227.938px) !important;
    transition: all 0ms ease 0s !important; */
}

.carousel__icon {
    color: #00A05C !important;
}

.carousel__icon:hover {
    color: #ffffff !important;
}

.carousel__pagination-button {
    background: #C3E6D3 !important;
    border-radius: 50% !important;
    height: 12px !important;
}

.carousel__pagination-button--active {
    background: #00A05C !important;
}

.carousel__pagination li:last-child button {
    /* padding: 0;
    margin: var(--vc-pgn-margin);
    width: var(--vc-pgn-width);
    cursor: pointer; */

}

.carousel__pagination li:last-child button:hover {
    /* width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 11px solid red;
    border-right: 0; */
}

.tri-icon {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 11px solid #00A05C;
    border-right: 0;
}


.next-slide {
    /* width: 16px;
    height: 16px;
    bottom: 3px;
    background-image: url('../img/img_next.png'); */
    border-width: .41em 0 .41em .6em;
    border-top-color: transparent;
    border-left-color: #00A05C;
    margin-top: 0;
}


.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


/* 

@media (min-width: 768px) and (max-width: 1280px) kyar ko twt vw ne use loh ya pr tl

@media (max-width: 767px) ka nay sa pee 320px hti responsive ko lal vw ne use pay naw */



/* tablet */
/* @media only screen and (min-width:768px) and (max-width:1279.9px) {} */
/* @media (min-width: 768px) and (max-width: 1280px) {} */

/* phone 375 */
/* @media (max-width: 767.9px) {} */