@media (min-width: 768px) and (max-width: 1280px) {
    @font-face {
        font-family: 'Hiragino Kaku Gothic Pro';
        src: url('@/assets/fonts/Hiragino Kaku Gothic Pro W3.otf') format('truetype');
    }
    
    body {
    
        font-family: 'Noto Sans JP','Hiragino Kaku Gothic Pro';
        margin: 0;
        background: #F7F7F7;
    }
    
    a {
        color: #000000;
    }
    
    .col-8 {
        width: 78.5vw;
    }
    
    .col-4 {
        float: left;
        width: 20%;
        padding: 0.833vw;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .pc {
        display: block !important;
    }
    
    .sp {
        display: none !important;
    }
    
    .header-container {
    
        background: #ffffff;
        height: 9.167vw;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #707070;
    }
    
    .container {
        width: 100%;
        max-width: 100vw;
        margin: 0 auto;
    
    }
    
    .logo {
        width: 118px;
        float: left;
        margin-top: 25px;
    }
    
    .logo img {
        width: 100%;
    }
    
    .header-text {
        float: left;
        margin-top: 3.583vw;
        padding-left: 1.667vw;
        font-size: 1.667vw;
        font-weight: 700;
        color: #00A051;
    }
    
    .inner-bar {
        width: 65vw;
        background: #00A05C;
        margin-top: 2.583vw;
        border-radius: 4.167vw;
        float: right;
    }
    
    .inner-bar ul {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding-left: 5.083vw;
    }
    
    .inner-bar ul li {
        width: 13.333vw;
        padding-right: 4.25vw;
    }
    
    .inner-bar ul li a {
        position: relative;
        padding: 1.417vw 0 1.417vw 0.417vw;
        font-size: 1.333vw;
        font-weight: 600;
    }
    
    .inner-bar ul li a figure {
    
        padding-left: 0.417vw;
    }
    
    .inner-bar ul li a:hover {
        padding: 1.417vw 0 1.417vw 0.417vw;
        background-color: #ffffff;
        color: #00A05C;
        border-width: 0.833vw 0.5vw 0 0.5vw;
        border-color: #00A05C transparent transparent transparent;
        justify-content: center;
    }
    
    
    .triangle {
        position: relative;
        float: left;
        width: 0;
        height: 0;
        border-style: solid;
    }
    
    .triangle-bottom {
        border-width: 0.833vw 0.5vw 0 0.5vw;
        border-color: #ffffff transparent transparent transparent;
    }
    
    
    .inner-bar ul li:last-child {
    }
    
    .inner-bar ul li a {
        color: #ffffff;
        display: flex;
    }
    
    .banner {
        padding: 1.667vw
    }

    .banner span {
        width: 58.333vw;
        line-height: 4.167vw;
        bottom: 2.667vw;
        padding-left: 3.667vw;
        font-size: 3vw;
    }
    
    .content-container {
        background: #FFFDF8;
    }
    
    .content-inner {
        padding: 3.125vw 0;
        /* padding-bottom: 6.5vw; */
    }
    
    .title {
        font-size: 1.667vw;
        font-weight: 600;
        padding-bottom: 1.719vw;
    }
    
    .subtitle {
        font-size: 3vw;
        font-weight: 600;
        color: #00A05C;
        padding-bottom: 1.719vw;
    }
    
    .info{
        font-size: 1.333vw;
        font-weight: 500;
        padding-top: 2.656vw;
    }
    
    .content-title {
        margin: 0 20px;
        padding-top: 1.667vw;
    }
    
    
    .content-title p {
        /* line-height: 3.25vw */
    }
    
    .line {
        width: 18.667vw;
        /* padding-top: 1.667vw; */
        border-bottom: 0.25vw solid #00A05C;
    }
    
    .content-slide {
        float: left;
        margin: 0;
        padding: 0;
        width: 28.333vw;
        height: 29.083vw;
        background: #ffffff;
        flex: none;
        box-shadow: 0 0.333vw 0.667vw 0 rgba(0, 0, 0, 0.2), 0 0.5vw 1.667vw 0 rgba(0, 0, 0, 0.19);
    }
    
    .content-slide {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }
    
    .content-slide:hover {
        border: 0.083vw solid #0cb097;
        color: #00A05C;
    }
    
    .content-slide:hover img {
        transform: scale(1.1);
    }
    
    .content-slide>figure {
        overflow: hidden;
    }
    
    .content-slide>figure img {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }
    
    .content-text {
        display: flex;
        padding: 1.667vw;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .content-button {
        border-radius: 3.125vw;
        border: 0.083vw solid #01A050;
        color: #01A050;
        background: #ffffff;
        font-family: "Hiragino Kaku Gothic Pro";
        font-size: 1.167vw;
        font-weight: 500;
        padding: 0.469vw 1.563vw 0.625vw;
    }
    
    .content-text span {
        text-align: left;
        padding-top: 1.667vw;
        font-size: 1.333vw;
        font-weight: 700;
    }
    
    
    .research-title {
        padding: 2.417vw 0 0 0;
        font-size: 1.667vw;
        font-weight: 700;
    }
    
    
    
    .research-container {
        max-width: 100%;
        margin: auto;
        min-height: initial;
        position: relative;
    }
    
    .research-container>div {
        padding-bottom: 2.5vw;
    }
    
    
    .research-container h3 {
        cursor: pointer;
        display: inline;
    }
    
    .research-container p {
        color: #333;
    }
    
    .date {
        
        font-size: 1vw;
        font-weight: 500;
    }
    
    .description {
        font-size: 1.333vw;
        font-weight: 500;
    }
    
    .more:after {
    
        content: url('../img/img-plus.png');
        font-size: 0.667vw;
        position: absolute;
        right: 0.417vw;
        top: 1%;
        margin-top: -0.833vw;
        font-size: 1.333vw;
        color: #333;
    }
    
    .less:after {
        content: url('../img/img-minus.png');
        font-size: 0.667vw;
        position: absolute;
        right: 0.417vw;
        top: 1%;
        margin-top: -10px;
        font-size: 1.333vw;
        color: #333;
    }

    .research-title {
        margin: 0 20px;
    }
    
    .research-container ul {
        width: 96.667vw;
        list-style-type: none;
        padding-left: 0;
        border-radius: 0.417vw;
        padding-top: 1.667vw;
        margin:  0 20px;
    
    }
    
    .research-container ul li {
        /* border: #eaeaea solid 1px;
        margin: 0.167vw 0;
        padding: 1.25vw;
        position: relative;
        background: #fff;
        -webkit-box-shadow: 0 0.083vw 0.167vw rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0 0.083vw 0.167vw rgba(0, 0, 0, 0.07);
        box-shadow: 0 0.083vw 0.167vw rgba(0, 0, 0, 0.07); */

        border: #eaeaea solid 1px;
        margin: 0.167vw 0;
        position: relative;
        background: #fff;
        box-shadow: 0 0.083vw 0.167vw rgb(0 0 0 / 7%);
        justify-content: space-between;
        display: flex;
    }
    
    .research-container ul li:hover {
        background: #00A05C;
        color: #ffffff;
    }
    
    .show-detail {
        display: flex;
        flex-direction: column;
        padding-top: 1.667vw;
        line-height: 1.667vw;
        font-size: 1.167vw;
        font-weight: 500;
    }
    
    .related-container {
        background: #FFFFFF;
    }
    
    .related-banner {
        display: flex;
        padding: 2.656vw 0 0 6.667vw;
        gap: 3.25vw;
    }
    
    .related-site {
        width: 26.667vw;
        height: 10.5vw;
        background: #ffffff;
        flex: none;
    }
    
    .related-site .related-img img {
        width: 26.667vw;
    }
    
    .related-site span:hover {
        color: #00A05C;
    }
    
    .related-text {
        padding-top: 0.417vw;
        padding-bottom: 0.833vw;
        display: flex;
        justify-content: space-between;
        font-size: 1vw;
        font-weight: 500;
    }
    
    .swap-on-hover {
        position: relative;
    }
    
    .swap-on-hover img {
        position: absolute;
        right: 0;
        overflow: hidden;
    }
    
    .swap-on-hover .swap-on-hover__front-image {
        z-index: 9999;
        transition: opacity .3s linear;
        cursor: pointer;
        max-width: 1.563vw;
    }
    
    .swap-on-hover:hover>.swap-on-hover__front-image {
        opacity: 0;
    }
    .footer-container {
        background: #FFFFFF;
        /* margin-top: 0.833vw; */
        border-top: 1px solid #A4A4A4;
    }
    
    .footer-inner {
        padding-bottom: 2.75vw;
    }
    
    .footer-banner {
        display: flex;
        padding-top: 1.667vw;
    
    }
    
    .footer-banner div {
        padding-right: 8.333vw;
    }
    
    .lion-2x img {
        width: 50%;
    }
    
    .footer-banner ul {
        display: flex;
        gap: 1.667vw;
        padding-top: 1.667vw;
    }
    
    .footer-banner ul li {
        display: flex;
        gap: 0.833vw;
        font-size: 1vw;
    }
    
    .footer-banner ul li a:hover {
        text-decoration: underline;
        color: #00A05C;
    }
    
    .footer-bar {
        text-align: center;
        color: #ffffff;
        background: #00A05C;
        line-height: 5.833vw;
    }
    
    .footer-bar span {
        padding: 2.083vw 0;
        font-size: 1vw;
        font-weight: 500;
        letter-spacing: 0.6px
    }
    
    /* .footer-icon {
        content: "";
        border: solid #00A05C;
        border-width: 0 54px 54px 0;
        position: absolute;
        background: #50b67e !important;
        border-radius: 50% !important;
    }
    
    .footer-icon::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%) rotate(45deg);
        border-top: 5px solid #fff;
        border-left: 5px solid #fff;
    
    } */
    
    .carousel__item {
        color: #000000;
    }
    
    .carousel__slide {
        padding: 0.833vw !important;
    }
    
    .carousel__prev,
    .carousel__next {
        background: #ffffff !important;
        box-sizing: content-box;
        border: 0.083vw solid #00A05C !important;
    }
    
    .carousel__prev:hover,
    .carousel__next:hover {
        background: #00A05C !important;
    }
    .banner .carousel__icon{
        width: 4vw !important;
        height: 4vw !important;
    }
    .banner .carousel__prev {
        width: 4vw;
        height: 4vw;
    }
    
    .banner .carousel__next {
        width: 4vw;
        height: 4vw;
    }
    
    .content-banner .carousel__viewport{
        overflow: inherit;
    }
    
    .carousel__icon {
        color: #00A05C !important;
    }
    
    .carousel__icon:hover {
        color: #ffffff !important;
    }
    
    .carousel__pagination-button {
        background: #C3E6D3 !important;
        border-radius: 50% !important;
        height: 1vw !important;
    }
    
    .carousel__pagination-button--active {
        background: #00A05C !important;
    }

    .tri-icon {
        width: 0;
        height: 0;
        border-top: 0.5vw solid transparent;
        border-bottom: 0.5vw solid transparent;
        border-left: 0.917vw solid #00A05C;
        border-right: 0;
    }
    
    
    .next-slide {
        width: 1.333vw;
        height: 1.333vw;
        /* position: absolute;
        right: 540px; */
        bottom: 0.25vw;
        background-image: url('../img/img_next.png');
    }
    
    
    .pagination {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    
}